
bustrakApi/BusTrakApi/.vs/BusTrakApi/xs/project-cache/BusTrakApi-Debug.json
bustrakApi/BusTrakApi/.vs/BusTrakApi/xs/UserPrefs.xml
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.props
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/apphost
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/project.assets.json
bustrakApi/BusTrakApi/BusTrakApi/obj/project.nuget.cache
bustrakUtils/.DS_Store
bustrakUtils/bustrak_scheduler_generator/.DS_Store
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.props
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/project.assets.json
bustrakApi/.DS_Store
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.props
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/project.assets.json
*.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.CopyComplete
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.AssemblyInfo.cs
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.AssemblyInfoInputs.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.AssemblyReference.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.CoreCompileInputs.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.FileListAbsolute.txt
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.dll
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.GeneratedMSBuildEditorConfig.editorconfig
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.genruntimeconfig.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.MvcApplicationPartsAssemblyInfo.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.MvcApplicationPartsAssemblyInfo.cs
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.pdb
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.RazorTargetAssemblyInfo.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/ref/BusTrakApi.dll
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/refint/BusTrakApi.dll
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/staticwebassets/BusTrakApi.StaticWebAssets.Manifest.cache
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/appsettings.Development.json
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/appsettings.json
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/BusTrakApi
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/BusTrakApi.deps.json
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/BusTrakApi.dll
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/BusTrakApi.pdb
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/BusTrakApi.runtimeconfig.dev.json
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/BusTrakApi.runtimeconfig.json
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bustrakApi/BusTrakApi/BusTrakApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.props
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.FileListAbsolute.txt
bustrakApi/BusTrakApi/BusTrakApi/obj/project.assets.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.props
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.FileListAbsolute.txt
bustrakApi/BusTrakApi/BusTrakApi/obj/project.assets.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.props
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.g.targets
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.assets.cache
bustrakApi/BusTrakApi/BusTrakApi/obj/Debug/net5.0/BusTrakApi.csproj.FileListAbsolute.txt
bustrakApi/BusTrakApi/BusTrakApi/obj/project.assets.json
bustrakApi/BusTrakApi/BusTrakApi/obj/BusTrakApi.csproj.nuget.dgspec.json
